@model AticurandoPI.Models.Turma
@{
    ViewData["Title"] = "Editar Turma";
}
<section id="form-container-section" class="atc-container">
    <div class="atc-form-container">

        <form asp-action="Edit" method="post" class="atc-card atc-form">
            <h2>Editar Turma</h2>
            <div class="atc-form-controls-container">
                <input type="hidden" asp-for="Id" />
        <div>
                    <input asp-for="Capacidade" class="atc-form-control" type="number" required />
                </div>
    <div>
                <select asp-for="Turno" class="atc-form-control" required>
            <option value="">Selecione o turno</option>
            <option value="Manhã">Manhã</option>
            <option value="Tarde">Tarde</option>
            <option value="Noite">Noite</option>
        </select>
    </div>
        <div>
                    <input asp-for="DataInicio" class="atc-form-control" type="datetime-local" required />
                </div>
        <div>
                    <input asp-for="DataFim" class="atc-form-control" type="datetime-local" required />
                </div>
            <div>
                <select asp-for="CursoId" asp-items="ViewBag.CursoId" class="atc-form-control" required></select>
    </div>
            <div class="atc-form-buttons atc-mt20">
            <button type="submit" class="atc-btn atc-btn-blue">Salvar</button>
            <a asp-action="Index" class="atc-btn atc-btn-white">Cancelar</a>
            </div>
</form>
    </div>
</section>
