@model AticurandoPI.Models.Curso
@{
    ViewData["Title"] = "Criar Curso";
}
<section id="form-container-section" class="atc-container">

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h2>Criar Curso</h2>
        <div class="atc-form-controls-container">
    <div>
        <input asp-for="Nome" class="atc-form-control" type="text" placeholder="Nome" required />
    </div>
    <div>
        <input asp-for="Descricao" class="atc-form-control" type="text" placeholder="Descrição" required />
    </div>
    <div class="atc-form-buttons atc-mt20">
        <button type="submit" class="atc-btn atc-btn-blue">Salvar</button>
        <a asp-action="Index" class="atc-btn atc-btn-white">Cancelar</a>
    </div>
        </div>
</form>
</section>

