@model AticurandoPI.Models.Matricula

@{
    ViewData["Title"] = "Nova Matrícula";
}
<section id="form-container-section" class="atc-container">
    <div class="atc-form-container">

        <form asp-action="Create" method="post" class="atc-card atc-form">
    <div asp-validation-summary="All" class="text-danger"></div>

            <h2>Nova Matrícula</h2>
            <div class="atc-form-controls-container">

    <!-- Aluno -->
    <div>
                    <select asp-for="AlunoId" asp-items="ViewBag.AlunoId" class="atc-form-control" required></select>
    </div>

    <!-- Turma -->
    <div>
                    <select asp-for="TurmaId" asp-items="ViewBag.TurmaId" class="atc-form-control" required></select>
    </div>

    <div class="atc-form-buttons atc-mt20">
        <button type="submit" class="atc-btn atc-btn-blue">Salvar</button>
        <a asp-action="Index" class="atc-btn atc-btn-white">Cancelar</a>
    </div>
    </div>
</form>
    </div>
</section>
