@model AticurandoPI.Models.Matricula

@{
    ViewData["Title"] = "Editar Matrícula";
}

<h1>Editar Matrícula</h1>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <!-- Aluno -->
    <div class="form-group">
        <label asp-for="AlunoId">Aluno</label>
        <select asp-for="AlunoId" asp-items="ViewBag.AlunoId" class="form-control" required></select>
    </div>

    <!-- Turma -->
    <div class="form-group">
        <label asp-for="TurmaId">Turma</label>
        <select asp-for="TurmaId" asp-items="@(new SelectList(ViewBag.TurmaId, "Id", "Nome"))" class="form-control" required></select>
    </div>

    <br />
    <button class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>

</form>
