@model AticurandoPI.Models.Aluno
@{
    ViewData["Title"] = "Criar Aluno";
}

<section id="form-container-section" class="atc-container">

    <div class="atc-form-container">

<form asp-action="Create" method="post" class="atc-card atc-form">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <h2>Cadastrar Aluno</h2>

    <div class="atc-form-controls-container">

    <div>
        <input asp-for="Nome" class="atc-form-control" type="text" placeholder="Nome" required />
    </div>
    <div>
        <input asp-for="Cpf" class="atc-form-control" type="text" placeholder="CPF" required />
    </div>
    <div>
        <input asp-for="Email" class="atc-form-control" type="email" placeholder="Email" required />
    </div>
    <div>
        <input asp-for="Telefone" class="atc-form-control" type="tel" placeholder="Telefone" required />
    </div>
    <div>
        <input asp-for="DataNascimento" class="atc-form-control" type="date" required />
    </div>
    <div>
        <input asp-for="Senha" class="atc-form-control" type="password" placeholder="Senha" required />
    </div>

    <div class="atc-form-buttons">
        <button type="submit" class="atc-btn atc-btn-blue">Salvar</button>
        <a asp-action="Index" class="atc-btn atc-btn-white">Cancelar</a>
    </div>
    </div>
</form>
</div>
</section>