@model AticurandoPI.Models.Aluno
@{
    ViewData["Title"] = "Editar Aluno";
}

<section id="form-container-section" class="atc-container">

    <div class="atc-form-container">

<form asp-action="Edit" method="post" class="atc-card atc-form">

    <h2>Editar Aluno</h2>

    <div class="atc-form-controls-container">

            <input type="hidden" asp-for="Id" />

    <div>
        <input asp-for="Nome" class="atc-form-control" type="text" placeholder="Nome" required />
    </div>
    <div>
        <input asp-for="Cpf" class="atc-form-control" type="text" placeholder="CPF" required />
    </div>
    <div>
        <input asp-for="Email" class="atc-form-control" type="email" placeholder="Email" required />
    </div>
    <div>
        <input asp-for="Telefone" class="atc-form-control" type="tel" placeholder="Telefone" required />
    </div>
    <div>
        <input asp-for="DataNascimento" class="atc-form-control" type="date" required />
    </div>

    <div class="atc-form-buttons atc-mt20">
    <button type="submit" class="atc-btn atc-btn-blue">Salvar</button>
    <a asp-action="Index" class="atc-btn atc-btn-white">Cancelar</a>
    </div>
    </div>
</form>
</div>
</section>